IIB/Projects/POCMsgModel/FLF.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat">

    <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="delimited" ibmSchExtn:docRoot="true" name="FLF">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="%CR;%LF;%WSP*;" dfdl:separatorSuppressionPolicy="anyEmpty">
				<xsd:element dfdl:lengthKind="delimited" dfdl:occursCountKind="implicit" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element dfdl:length="5" ibmDfdlExtn:sampleValue="body_valu1" name="No" type="xsd:string"/>
							<xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_valu2" name="FName" type="xsd:string"/>
							<xsd:element dfdl:length="5" ibmDfdlExtn:sampleValue="body_valu3" name="MName" type="xsd:string"/>
                            <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_value4" name="LName" type="xsd:string"/>
                            <xsd:element dfdl:length="50" ibmDfdlExtn:sampleValue="body_value5" name="Address" type="xsd:string"/>
                            <xsd:element dfdl:length="15" ibmDfdlExtn:sampleValue="body_value6" name="Profession" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>